.poker-card{
    width: 75px;
    height: 100px;
    box-sizing: border-box;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.top {
    padding-top: 10px;
}

.btn-group.special {
  display: flex;
}

.special .btn {
  flex: 1
}

